<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    autoReload="true"
      >
  
  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}\Siemens\SimaticSDEnabler\${assembly-version}"/>

  <targets>
    <!-- Target for flat file logging -->
    <target xsi:type="File" name="devLogfile" fileName="${logDirectory}\lastExecution-log.txt" deleteOldFileOnStartup="true" createDirs="true"
            layout="[${longdate}] [${level}] ${message}" />
    
    <!-- Target for csv logging -->
    <target xsi:type="File" name="csvReport" deleteOldFileOnStartup="true" fileName="${logDirectory}\SimaticSDEnablerReport.csv" concurrentWrites="true" keepFileOpen="false" createDirs="true">
      <layout xsi:type="CsvLayout" delimiter=";">
        <column name="Element" layout="${event-properties:item=Element}" />
        <column name="Success" layout="${event-properties:item=Success}" />
        <column name="Message" layout="${message}" />
      </layout>
	  </target>
  </targets>

  <!-- Define rules to control logging -->
  <rules>
    <logger name="devlog" minlevel="Trace" writeTo="devLogfile" />
	  <logger name="customerReport" minlevel="Info" maxLevel="Error" writeTo="csvReport" />
  </rules>
</nlog>